{% extends 'base.html.twig' %}

{% block title %}Notre Equipe{% endblock %}

{% block body %}

    <script>
    </script>

    <h1>Notre équipe </h1>
    <p>Voici l'équipe Ope Ope no Movie.<br>
    Vous pouvez consulter nos profils linkedin et nous contacter dessus si besoin !</p>
    <table>
    {% for membre in equipe %}
        <tr>
        <td colspan="3px">{{ membre.prenom }} {{ membre.nom }}</td>
        <td><img src="{{ vich_uploader_asset(membre, 'imageFile') }}"></td>
        <td><a href="{{ membre.linkedin }}"><button>Voir</button></a></td>
        </tr>
    {% endfor %}

    </table><br>

    {% if "ROLE_ADMIN" in app.user.roles %}
        <div>
        <form action="{{ path('app_new_equipe') }}" method="post">
            <button type="submit">Ajouter une personne à l'équipe</button>
        </form>
        </div>

    {% endif %}
{% endblock %}
